<div [ngSwitch]="alerta" class="m-1">
    <div *ngSwitchCase="'success'">success</div>
    <div *ngSwitchCase="'info'">info</div>
    <div *ngSwitchCase="'warning'">warning</div> 
    <div *ngSwitchDefault>danger</div>
</div>

<button (click)="alerta='info'" class="btn btn-info m-1">Info</button>
<button (click)="alerta='success'" class="btn btn-success m-1">Success</button>
<button (click)="alerta='warning'" class="btn btn-warning m-1">Warning</button>
<button (click)="alerta='danger'" class="btn btn-danger m-1">Danger</button>

<div [ngSwitch]="alerta" class="m-1">

    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    This is a info alert—check it out!
  </div>
  <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
    This is a success alert—check it out!
  </div>
  <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    This is a warning alert—check it out!
  </div>
  <div *ngSwitchDefault class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
  </div>

</div>